.users-table {
  width: 100%;
  margin-bottom: 20px;
}

.mat-column-edit, .mat-column-remove {
  width: 60px;
  // text-align: center;
}

.mat-column-driverLicense {
  width: 150px;
  // text-align: center;
}

.mat-cell, .mat-header-cell {
  text-align: center;
}

.upload-wrapper {
  display: inline-block;
  margin-bottom: 20px;

  .file-input {
    display: none;
  }
}

