<h1>Організаційна структура компанії</h1>

<div class="content-wrapper">
  <div class="tree-block mat-elevation-z5">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
      <!-- This is the tree node template for leaf nodes -->
      <!-- There is inline padding applied to this node using styles.
        This padding value depends on the mat-icon-button width. -->
      <mat-tree-node class="job-description" *matTreeNodeDef="let node" matTreeNodeToggle>
        <!--leaf node: -->
        <ng-container *ngIf="node.requirements">
          <mat-selection-list [multiple]="false">
            <mat-list-option>TEST</mat-list-option>
          </mat-selection-list>
          <div>Вимоги:</div>
          <ul class="requirements-list">
            <li>Освіта: {{node.requirements.education}}</li>
            <li>Стаж: {{node.requirements.experience}}</li>
            <li>Категорія прав: {{node.requirements.driversLicence}}</li>
          </ul>
        </ng-container>
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <div class="mat-tree-node">
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.name}}
        </div>
        <!-- There is inline padding applied to this div using styles.
            This padding value depends on the mat-icon-button width.  -->
        <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
             role="group">
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </mat-nested-tree-node>
    </mat-tree>
  </div>


  <div class="user-block mat-elevation-z5">

  </div>
</div>
