:host {

}
header {
  background: rgba(0, 0, 0, .05);
  padding: 20px;
  color: #4e4545;

  button {
    margin-right: 10px;
    color: #4e4545;

    &.active {
      color: #34AB54;
    }
  }
}

.container {
  padding: 20px;
}
