<header>
  <button mat-button [routerLink]="''">
    Головна
  </button>
  <button mat-button [routerLink]="'events'" [routerLinkActive]="'active'">
    Події
  </button>
  <button mat-button [routerLink]="'/users'">
    Працівники
  </button>

  <!--<mat-tab-group dynamicHeight>
    <mat-tab [routerLink]="'/'" label="Home"></mat-tab>
    <mat-tab [routerLink]="'/events'" label="Events"></mat-tab>
    <mat-tab [routerLink]="'/users'" label="Працівники"></mat-tab>
  </mat-tab-group>-->
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>

