<h2 class="mt-0">Форма події</h2>
<form [formGroup]="form">
  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>Назва події</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
  </div>


  <div class="row">
    <mat-form-field class="fill">
      <mat-label>Опис події</mat-label>
      <textarea matInput
                placeholder="Розпишіть в деталях що потребно зробити. Після цього, додайте керівників, які відповідають за назначення штату"
                formControlName="description"></textarea>
    </mat-form-field>
  </div>


  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>Керівники</mat-label>
      <mat-select formControlName="participants" multiple>
        <mat-option *ngFor="let admin of participants" [value]="admin">
          {{admin.firstName + ' ' + admin.lastName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button *ngIf="!event?.id" mat-raised-button color="primary" (click)="createNewEvent()" [disabled]="!form.valid">
    Створити подію і запросити керівників
  </button>

  <div class="row" *ngIf="event?.id">
    <mat-form-field appearance="fill">
      <mat-label>Дати</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate formControlName="fromDate" placeholder="Дата початку">
        <input matEndDate formControlName="toDate" placeholder="Дата кінця">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>

  <div class="row" *ngIf="event?.id">
    <mat-form-field appearance="fill">
      <mat-label>Виконавці</mat-label>
      <mat-select formControlName="personal" multiple>
        <mat-option *ngFor="let user of users" [value]="user">
          {{user.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button *ngIf="event?.id && !event?.status" mat-raised-button color="primary" (click)="editEvent()" [disabled]="!form.valid">
    Зберегти
  </button>

  <button *ngIf="event?.id && !event?.status" mat-raised-button color="primary" (click)="confirmEvent()" [disabled]="!form.valid">
    Підписати
  </button>

  <button *ngIf="event?.status" mat-raised-button color="primary" (click)="downloadDoc()">
    Скачати документ
  </button>
</form>


<div class="row" *ngIf="event?.id">
  <h2>Коментарі</h2>
  <div class="comments-block" *ngIf="comments.length">
    <div class="comment" *ngFor="let comment of comments">
      <div class="comment-title">{{comment.name}}</div>
      <div class="comment-text">{{comment.comment}}</div>
    </div>
  </div>

  <form [formGroup]="commentForm" (ngSubmit)="submitComment()">
    <mat-form-field class="fill">
      <mat-label>Ваш коментар</mat-label>
      <textarea matInput formControlName="comment"></textarea>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" [disabled]="!commentForm.valid">
      Відправити
    </button>
  </form>
</div>
